include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include backdesk *.css
recursive-include backdesk *.html
recursive-include backdesk *.ico
recursive-include backdesk *.js
recursive-include backdesk *.json
recursive-include backdesk *.md
recursive-include backdesk *.png
recursive-include backdesk *.py
recursive-include backdesk *.svg
recursive-include backdesk *.txt
